.inputField{
  visibility: hidden;
}
.input{
  display: block;
  justify-content: center;
  position: relative;
  padding-bottom: 5%;
  text-align: center;
}

.output {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-top: 300px;
}
table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 15px;
}
caption{
  font-weight: bold;
  font-size: 28;
  padding: 7px;
}
tr:nth-child(even){
  background-color: #4C8BF5;
  color: #fff;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
  background-color: #4C8BF5;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
